.footer {
  padding: 8em 5%;
  text-align: center;
  background-color: #4F493F;
  color: #fff;

  &:before {
    content: "";
    display: block;
    width: 80%;
    height: 10em;
    margin: 0 auto;
    background-image: url(../img/pame-alt-logo-white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h2 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}