

/* Tasks like */
.level-2 {
  padding: 3em 5% 4em;

  .depth-3 {
    width: 33.3%;
  }
}


/* About PA Me */
.level-17 {
/*
    -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
*/

}

